<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "/xsd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="autoMappingBehavior" value="FULL" />
        <setting name="defaultExecutorType" value="REUSE" />

        <!-- 开启自动驼峰命名规则映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />

        <!-- 设置控制台显示日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <typeAliases>
        <typeAlias type="com.wu.parker.mybatis.po.User" alias="user"/>
    </typeAliases>

</configuration>
